@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
    font-size: 16px;
}

body {
    background: #1df76c4d;
}

.criarDespesaDiv {
    width: 90%;
    max-width: 400px;
    height: 300px;
    background: white;
    border-radius: 4px;
    box-shadow: 2px 2px 13px #00000059;
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    opacity: 0;
}

.criarDespesaDiv h2 {
    font-size: 1.4rem;
}

.criarDespesaDiv form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.criarDespesaDiv form div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.criarDespesaDiv form div label {
    font-size: 1.2rem;
}

.criarDespesaDiv form div input {
    padding: 4px;
}

input[type="submit"] {
    padding: 8px;
    font-size: 1.2rem;
    background: #80ffae;
    box-shadow: 1px 1px 4px #8bffab;
    border: none;
    transition: .3s;
}

input[type="submit"]:hover {
    transform: translate(-2px, -2px);
}