* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.header {
    background: #333232;
    height: 50px;
	display: flex;
	align-items: center;
	color: #eee;
	padding: 0 8px 0 8px;
}

.header h1 {
	font-size: 1.5rem;
} 

main {
    padding: 30px 8px 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}

main header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main header h2 {
	font-size: 1.2rem;
}

hr {
    border: 0.5px solid #004724;
    border-radius: 5px;
    width: 95%;	
    display: block;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.cards {
    width: 250px;
    height: 250px;
    box-shadow: 1px 1px 6px #cdcdcd;
    border-radius: 5px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-evenly;
}

.cards div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cards h2 {
	font-size: 1rem;
}

.cards img {
    width: 70px;
    height: 70px;
}

.cards button {
	padding: 10px;
    border-radius: 5px;
    border: none;
    background: #00b74b;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    width: 90%;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.cards a {
    text-align: center;
    font-size: 0.8rem;
}

@media screen and (min-width: 1200px) {

	* {
		font-size: 18px;
	}

	main {
		flex-direction: row;
	}

	hr {
		width: auto;
	}
}