h1 {
    text-align: center;
}

#letras {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 50px;
}

.letra {
    border-bottom: 2px solid black;
    width: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 480px;
    align-items: center; 
}

.botoes button {
    padding: 10px;
    font-size: 20px;
    width: 100px;
    height: 60px;
}

.grade {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.grade img {
    width: 210px;
    display: none;
}

#palavraSorteada {
    display: none;
    text-align: center;
}

.botaoResetar {
    display: block;
    margin: 30px auto;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}